/* 此文件用于更新服务的样式 */
body {
    font-size: 16px;
    color: #000;
}

.main_content {
    padding: 10px 50px;
}



.upd_item_grp {
    margin-top: 10px;
}

.upd_title {
    display: inline-block;
    flex-shrink: 0;
    width: 80px;
    text-align: right;
}

.upd_item_right {
    margin-left: 100px;
}

.upd_margin_top {
    margin-top: 10px;
}

.version_time .upd_title {
    display: block;
}

.upd_item {
    display: inline-block;

    margin-left: 20px;
}


.upd_btn {
    /* border: 1px solid #999; */
    padding: 0px 5px;
    cursor: pointer;
    height: 27px;
    line-height: 27px;
    display: inline-block;
    box-sizing: border-box;
    background: #409eff;
    color: wheat;
}


.upd_btn:hover {
    opacity: 0.8;
}

.is_submitting .upd_btn {
    cursor: not-allowed
}


#upd_version {
    margin-top: 25px;
}

#upd_version .upd_btn {
    margin-left: 10px;
}


.upd_single_item {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}



#modlue_text {
    height: 110px;
}

.border_style {
    border: 1px solid #999;
    border-radius: 0px;
    box-sizing: border-box;
}



/* 覆盖标签样式 */
.item_select,
select {
    width: 20%;
    width: 350px;
    min-width: 170px;
    height: 27px;
    border-radius: 0px;
}

textarea {
    font-size: 14px !important;
    padding: 5px !important;
    outline: none;
}

.form {
    border: 1px solid;
    width: 480px;
    min-width: 425px;
    margin: 0 auto;
}

.icon-shanglajiantou {
    background-image: URL("../images/icon_up_down.png");
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0px, -50%);
}

#btn_submit {
    text-align: center;
    margin: 10px;
    margin-top: 40px;
}

#btn_submit .upd_btn {
    width: 100%;
    padding: 5px 10px;
    height: auto;
}


.file_wrap,
textarea {
    /* max-width: 300px;
    max-height: 180px; */
    width: 350px;
    height: 130px;
    resize: none;
}

.file_wrap {
    height: 340px;
    overflow: auto;
}


/* 正在提交 */
.is_submitting {
    pointer-events: none;
    /* opacity: 0.5; */
}

.mc_progress_bar_wrap .mc_progress_bar {
    height: 12px;
    border-radius: 5px;
    height: 5px;
    background-color: green;
    width: 0;
}

#file_onload .mc_progress_bar_wrap {
    display: inline-block;
    width: 210px;
    background: #acacac;
    border-radius: 5px;
    margin: 0 5px;
    vertical-align: middle;
}

.mc_progress_bar {
    -webkit-transition: 0.2s linear !important;
    -moz-transition: 0.2s linear !important;
    -o-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
}

.is_submitting #upd_commit_mask {
    z-index: 2;
    background: rgb(238 238 238 / 50%);
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
}

#upd_commit_mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

#input_file_tilte {
    color: red;
    display: none;
}

.commit_text_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    color: #ffffff;
    background: #b1abab;
    font-size: 20px;
    opacity: 1;
    width: 480px;
    transform: translate(-50%, 10px);
    /* display: none; */
}

.layui-tree-txt {
    color: #333;
    font-size: 14px;
}